/*
    Author: Ivan J Mercedes
    Created: 11/24/2021
*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

$app-nft-width-mobile: 375px;
$app-nft-width-desktop: 1440px;
$app-nft-color-primary-soft-blue: hsl(215, 51%, 70%);
$app-nft-color-primary-cyan: hsl(178, 100%, 50%);
$app-nft-color-primary-cyan-opaque: hsla(178, 100%, 50%, .5);
$app-nft-color-neutral-very-dark-blue-bg-main: hsl(217, 54%, 11%);
$app-nft-color-neutral-very-dark-blue-bg-card: hsl(216, 50%, 16%);
$app-nft-color-neutral-very-dark-blue-line: hsl(215, 32%, 27%);
$app-nft-color-neutral-white: hsl(0, 0%, 100%);
$app-nft-text-font-size: 18px;
$app-nft-font-family: Outfit, sans-serif;