@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$color-primary-violet: hsl(257, 40%, 49%);
$color-primary-soft-magenta: hsl(300, 69%, 71%);
$text-body-copy-font-size: 16px;
$heading-font-family: 'Poppins'; // 400,600
$body-font-family: 'Open Sans'; // 400