@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$color-primary-cyan: hsl(179, 62%, 43%);
$color-primary-desaturated-cyan: hsl(179, 47.2%, 51.8%);
$color-primary-light-cyan: hsl(181, 55.6%, 62.9%);
$color-primary-very-light-cyan: hsl(181, 81.8%, 80.6%);
$color-primary-bright-yellow: hsl(71, 73%, 54%);
$color-neutral-light-gray: hsl(204, 43%, 93%);
$color-neutral-grayish-blue: hsl(218, 22%, 67%);
$text-body-copy-font-size: 16px;
$font-family: 'Karla'; // 400,700