@import './variables';

.ping-coming-soon-page {
    font-size: $text-body-copy-font-size;
    font-family: $font-family;
    min-height: max(800px, 100vh);
    min-width: min(375px, 100vw);
    display: grid;
    place-items: center;
    .container {
        max-width: 327px;
        display: flex;
        flex-direction: column;
        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            img {
                width: 5rem;
                margin-bottom: 2rem;
            }
            h1 {
                font-size: 1.8rem;
                .subtle {
                    color: $color-neutral-gray;
                    font-weight: 300;
                }
            }
            .content {
                font-size: 1rem;
                font-weight: 300;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            margin-top: 3rem;
            .control {
                display: flex;
                flex-direction: column;
                &.invalid {
                    input {
                        border-color: $color-secondary-light-red;
                    }
                    .validation-error {
                        display: block;
                    }
                }
                input {
                    border: 1px solid $color-secondary-pale-blue;
                    border-radius: 30px;
                    padding: 1rem;
                    padding-left: 2rem;
                    font-size: 1rem;
                    &::placeholder {
                        color: $color-secondary-pale-blue;
                    }
                }
                .validation-error {
                    color: $color-secondary-light-red;
                    font-size: .8rem;
                    text-align: center;
                    display: none;
                }
            }
            button {
                background-color: $color-primary-blue;
                border-radius: 30px;
                border: 0;
                outline: none;
                padding: 1rem;
                color: #fff;
                font-size: 1.2rem;
                box-shadow: 0 10px 20px #aaa;
                cursor: pointer;
                margin-top: .7rem;
                &:hover {
                    background-color: $color-secondary-pale-blue;
                }
            }
        }
        img {
            margin-top: 5rem;
        }
        .social {
            display: flex;
            justify-content: center;
            margin-top: 5rem;
            i {
                font-size: 1rem;
                color: $color-primary-blue;
                border: 1px solid #ccc;
                padding: .7rem;
                border-radius: 50%;
                cursor: pointer;
                margin: 0 .25rem;
                &.fa-facebook-f {
                    padding: .7rem 1rem;
                }
                &:hover {
                    color: #fff;
                    background-color: $color-primary-blue;
                }
            }
        }
        footer {
            margin-top: 2rem;
            font-size: .8rem;
            color: $color-neutral-gray;
            text-align: center;
            margin-bottom: 3em;
        }
    }

    @media screen and (min-width: 700px) {
        min-height: min(500px, 100vh);
        min-width: min(640px, 100vw);
        .container {
            max-width: 700px;
            header {
                h1 {
                    font-size: 2.5rem;
                }
                .content {
                    font-size: 1.2rem;
                }
            }
            form {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 1rem;
                .control {
                    width: 100%;
                }
                button {
                    width: 45%;
                    margin: 0;
                    height: 3.5rem;
                }
            }
            .social {
                i {
                    font-size: .8rem;
                    padding: .5rem;
                    &.fa-facebook-f {
                        padding: .5rem .6rem;
                    }
                }
            }
        }
    }
}