@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

$color-primary-pale-blue: hsl(225, 100%, 94%);
$color-primary-bright-blue: hsl(245, 75%, 52%);
$color-primary-subdued-blue: hsl(245, 55%, 52%);
$color-neutral-very-pale-blue: hsl(225, 100%, 98%);
$color-neutral-desaturated-blue: hsl(224, 23%, 55%);
$color-neutral-desaturated-blue-lighter: hsl(224, 30%, 70%);
$color-neutral-desaturated-blue-really-light: hsl(224, 55%, 85%);
$color-neutral-dark-blue: hsl(223, 47%, 23%);
$text-body-font-size: 16px;
$font-family: 'Red Hat Display';
$card-width-desktop: 450px;
$card-width-mobile: 430px;