@import './variables';
@import './images';

.app-order-summary {
    font-family: $font-family;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-primary-pale-blue;
    height: 100vh;
    min-height: 709px;
    font-size: $text-body-font-size;
    color: $color-neutral-dark-blue;

    .card {
        max-width: 329px;
        max-height: 568px;
        background-color: #fff;
        box-shadow: 0 30px 30px -1em $color-neutral-desaturated-blue-really-light;
        border-radius: 20px;
        font-size: $text-body-font-size;
        
        .card-header {
            border-radius: 20px 20px 0 0;
            width: 100%;
            height: 160px;

            &.image-illustration-hero {
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
        .card-body {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            justify-items: center;
            align-items: center;
            padding: 20px;
            font-size: .95em;

            h1, h2 {
                margin: 0;
                font-size: 1em;
                font-weight: 900;
            }
            h1 {
                font-size: 1.5em;
            }
            .content {
                text-align: center;
                width: 90%;
                color: $color-neutral-desaturated-blue;
            }
            .plan {
                width: 100%;
                background-color: $color-neutral-very-pale-blue;
                border-radius: 15px;

                .details {
                    padding: 1rem;
                    display: flex;
                }
                .icon {
                    flex-grow: 1;
                }
                .name-price {
                    flex-grow: 3;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }
                .price {
                    color: $color-neutral-desaturated-blue;
                }
                .action {
                    flex-grow: 1;
                    font-weight: 900;
                    color: $color-neutral-dark-blue;
                    font-size: .8em;
                }
            }
            .btn {
                font-size: 1em;
                font-weight: 700;
                border: none;
                cursor: pointer;
            }
            .btn.btn-link:hover {
                text-decoration: none;
            }
            .btn.primary {
                background-color: $color-primary-bright-blue;
                color: #fff;
                border-radius: 10px;
                box-shadow: 0 20px 30px $color-neutral-desaturated-blue-really-light;
            }
            .btn.primary:hover {
                background-color: $color-primary-subdued-blue;
            }
            .btn.secondary {
                background: none;
                border: none;
                color: $color-neutral-desaturated-blue;
                font-weight: 900;
            }            
            .btn.secondary:hover {
                color: #000;
            }
        }
    }
}